<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AcdOldCaseRainXqMapper">

    <resultMap id="AcdOldCaseRainXqResultMap" type="com.example.demo.entity.AcdOldCaseRainXq">
        <id column="id" property="id"/>
        <result column="makecom" property="makecom"/>
        <result column="reportdate" property="reportdate"/>
        <result column="reporthour" property="reporthour"/>
        <result column="damagename" property="damagename"/>
        <result column="damageaddress" property="damageaddress"/>
        <result column="checkaddress" property="checkaddress"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
    </resultMap>

    <select id="selectAll" resultMap="AcdOldCaseRainXqResultMap">
        SELECT id, makecom, reportdate, reporthour, damagename, damageaddress, checkaddress, latitude, longitude
        FROM acd_old_case_rain_xq
    </select>

    <select id="selectByDate" resultMap="AcdOldCaseRainXqResultMap">
        SELECT id, makecom, reportdate, reporthour, damagename, damageaddress, checkaddress, latitude, longitude
        FROM acd_old_case_rain_xq
        WHERE reportdate = #{reportdate}
    </select>

    <select id="selectWithCoordinates" resultMap="AcdOldCaseRainXqResultMap">
        SELECT id, makecom, reportdate, reporthour, damagename, damageaddress, checkaddress, latitude, longitude
        FROM acd_old_case_rain_xq
        WHERE latitude IS NOT NULL AND longitude IS NOT NULL
    </select>

    <select id="selectWithCoordinatesByDate" resultMap="AcdOldCaseRainXqResultMap">
        SELECT id, makecom, reportdate, reporthour, damagename, damageaddress, checkaddress, latitude, longitude
        FROM acd_old_case_rain_xq
        WHERE reportdate = #{reportdate}
          AND latitude IS NOT NULL
          AND longitude IS NOT NULL
    </select>

</mapper>