<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GroupMapper">

    <resultMap id="GroupResultMap" type="com.example.demo.entity.Group">
        <result column="groups" property="groups"/>
        <result column="groupscode" property="groupscode"/>
    </resultMap>

    <select id="selectAllGroups" resultMap="GroupResultMap">
        SELECT distinct groups, groupscode
        FROM acd_ryzd
        WHERE groupscode is not null
    </select>

</mapper>
